header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header #logo {
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul li {
    font-size: 1.25rem;
}

header nav ul li a {
    color: var(--black);
}

header nav ul .header_buttons {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--indigo);
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--white);
}

header nav ul .header_buttons i {
    color: var(--white);
}