main #banner {
    height: 80vh;
    background-image: url("../img/light_banner.png");
    background-size: cover;
    background-position: right;
    color: var(--white);
    position: relative;
}

main #banner #banner_content_container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 10%;
}

main #banner #banner_content_container h1 {
    font-size: 4.5rem;
    width: 70%;
}

main #banner #banner_content_container p {
    font-size: 2rem;
    width: 55%;
    text-align: justify;
}