header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.buttons {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    max-width: 300px;
    text-align: center;
}

header #logo {
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav ul li {
    font-size: 1.5rem;
}

header nav ul li a {
    color: var(--black);
}

header nav ul .header_buttons {
    background-color: var(--indigo);
    color: var(--white);
}

main #banner {
    height: 80vh;
    background-image: url("../img/light_banner.png");
    background-size: cover;
    background-position: right;
    color: var(--white);
    position: relative;
}

main #banner #banner_content_container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 10%;
}

main #banner #banner_content_container h1 {
    font-size: 4.5rem;
    width: 70%;
}

main #banner #banner_content_container p {
    font-size: 2rem;
    width: 55%;
    text-align: justify;
}