* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

:root {
    --blue: #2f80ed;
    --indigo: #3722bb;
    --white: #ffffff;
    --black: #000000;
}