* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

:root {
    --blue: #2f80ed;
    --indigo: #3722bb;
    --white: #ffffff;
    --black: #000000;
}

body {
    width: 100%;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.buttons {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    max-width: 300px;
    text-align: center;
}

header #logo {
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav ul li {
    font-size: 1.5rem;
}

header nav ul li a {
    color: var(--black);
    transition: .5s ease-in-out;
}

header nav ul .header_buttons {
    background-color: var(--indigo);
    color: var(--white);
}

header nav ul li a:hover {
    color: var(--indigo);
}